@import "_bootstrap.less";
@import "_variables.less";

p{
  font-size: 18px;
  color: @gray;
}

.odigia-navbar{
  .navbar;
  .navbar-default;
  .navbar-static-top;
  margin-bottom: 0;
}
.odigia-navbar-brand{
  display: inline-block;
  height: 40px;
  margin-top: 10px;
}

.odigia-hero{
  position: relative;
  height: 370px;
  width: 100%;
  color: @white;
  background: url(../img/hero.jpg) no-repeat;
  background-size: cover;
}

.odigia-hero-lead{
  position: absolute;
  top: 60px;
  left: 60px;
  margin: 0;
  span{
    color: @brand-primary;
  }
}

.odigia-hero-cta{
  position: absolute;
  bottom: 12px;
  left: 60px;
  margin: 0;
}

.odigia-email-form-wrapper{
  padding: 30px 0;
  background-color: @brand-primary;
}

.odigia-flat-form{
  padding: 40px 60px;
  color: @white;
  label{
    display: block;
  }
}

.odigia-input{
  .form-control;
  display: inline-block;
  height: auto;
  width: 100%;
  padding: 12px 16px;
  font-size: 22px;
}
.odigia-form-group{
  display: inline-block;
  width: 85%;
}
.odigia-btn{
  height: auto;
  padding: 12px 16px;
  font-size: 22px;
}

.odigia-content{
  padding: 40px 60px;
  background: @white;
}
.odigia-content-header{
  color: @gray-darker;
}
.odigia-border-bottom{
  border-bottom: 15px solid @brand-primary;
}

.odigia-img-caption{
  padding: 40px 60px;
  background: #F1F1F2;

}
.odigia-img-caption-header{
  margin: 0;
  font-size: 22px;
  color: @brand-primary;
  font-weight: 600;
}

.odigia-hollow-btn{
  display: block;
  height: 50px;
  width: 200px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: @brand-primary;
  border: 2px solid @brand-primary;
  text-decoration: none;
  &:hover, &:focus, &:active{
    text-decoration: none;
  }
}

/*=============================================================
    Authour URL: www.designbootstrap.com

    http://www.designbootstrap.com/

    License: MIT
========================================================  */

/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #70B854;
}

.db-bk-color-two {
    background-color: #7BCB5C;
}

.db-bk-color-three {
  background-color: #C9FEB0;

}

.db-bk-color-four {
  background-color: #98FE74;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
  padding-bottom: 50px;
}
.db-button-color-square {
  color: #fff;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
.db-button-color-square:hover {
  border: none;
}


.db-pricing-eleven {
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  line-height: 30px;
}

.db-pricing-eleven ul {
  list-style: none;
  margin: 0;
  text-align: center;
  padding-left: 0px;
}

.db-pricing-eleven ul li {
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
}

.db-pricing-eleven ul li i {
  margin-right: 5px;
}


.db-pricing-eleven .price {
  padding: 40px 20px 20px 20px;
  font-size: 60px;
  font-weight: 900;
}

.db-pricing-eleven .price small {
  color: #B8B8B8;
  display: block;
  font-size: 12px;
  margin-top: 22px;
}

.db-pricing-eleven .type {
  background-color: #52E89E;
  padding: 50px 20px;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;
}

.db-pricing-eleven .pricing-footer {
  padding: 20px;
}

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
  padding-left: 0;
  padding-right: 0;
}

.popular{
  box-shadow: 0px 6px 14px -1px rgba(0,0,0,0.75);
}
.col-forward{
  z-index: 2;
  margin-top: -15px;
}
.price{
  min-height: 160px;
}
.odigia-course-icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.feta{
  background-color: #F1FAED;
}
.peppermint{
  background-color: #E5F5DC
}
